:root {
    --light-gray: #f3f3f3;
    --light-gray-2: #eeeeee;
    --light-gray-3: #999999;

    --dark-gray: #333333;
    --dark-gray-2: #444444;
    --dark-gray-3: #111111;
    --dark-gray-4: #434242;
    --dark-gray-5: #777777;

    --white: #ffffff;
    --black: #000000;

    --modalOverlayColor: #000000b3;
    --modalColor: #f0f2f5;

    --light-pink: #fbdfdb;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    list-style: none;

    font-family: "Roboto", sans-serif;

    overflow: overlay;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #c4c4c4;
    border: solid 4px transparent;
    border-radius: 14px;
    
    transition: 300ms;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 14px 14px #c4c4c4;
}

::-webkit-scrollbar-button {
    display: none;
}

.display {
    display: none;
}

.recipes-content {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
}