main .container {
    max-width: 940px;
    width: 80%;
    margin: 0 auto;
}

#hero {
    display: flex;
    width: 100%;
    padding: 2rem 5rem 0 5rem;
    border-radius: 2rem;
    background-color: var(--light-pink);
    margin: 2rem 0;
    justify-content: space-between;
}

#hero .left-col {
    max-width: 380px;
    width: 50%;
}

#hero .left-col h2 {
    font-size: 2rem;
    margin: 2.8rem 0 .5rem 0;
}

#hero .left-col p {
    color: var(--dark-gray-4);
    line-height: 1.5rem;
}

#recipes {
    margin: 2.5rem 0;
}

#recipes h3 {
    font-size: 1.5rem;
    color: var(--dark-gray-3);
}

@media(max-width: 800px) {
    .recipes-content {
        gap: 1.8rem;
    }

    #hero .right-col img {
        max-width: 300px;
        width: 80%;
    }   
}

@media(max-width: 500px) {
    #hero .left-col {
        width: 100%;
    }

    #hero .right-col img {
        display: none;
    }

    #hero .left-col h2 {
        margin: 0 0 1rem 0;
    }

    #hero {
        padding: 2rem 5rem;
    }

    #recipes {
        text-align: center;
    }
    
    

    .recipes-content {
        display: block;
    }
}