@media(max-width: 800px) {
    :root {
        font-size: 75%;
    }

    nav {
        width: 100%;
    }

    nav ul {
        margin-left: auto;
    }

    nav .container {
        width: 85%;
    }
}

@media(max-width: 500px) {
    :root {
        font-size: 62.25%;
    }
}