@media(max-width: 800px) {
    :root {
        font-size: 75%;
    }

    #hero .right-col img {
        max-width: 300px;
        width: 80%;
    }

    nav .container {
        width: 85%;
    }

    .recipes-content {
        gap: 1.8rem;
    }

    nav ul {
        margin-left: auto;
    }

    .card {
        max-width: 190px;
        width: 100%;
    }

    .card-header img {
        width: 100%;
    }

    .card-header {
        max-width: 190px;
    }
}