nav {
    background-color: var(--dark-gray-3);
    width: 100%;
}

nav ul li a {
    color: var(--light-gray-3);
}

nav .logo {
    margin: 0 0 0 .5rem;
}

nav .active {
    font-weight: 700;
    color: var(--light-gray);
}

main .container {
    max-width: 940px;
    width: 80%;
    margin: 0 auto;
}

#title {
    display: flex;
    justify-content: space-between;
}

#title a {
    font-size: .9rem;
    border-radius: .4rem;
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
    background-color: #d54f44;
    padding: .5rem 1rem;
    transition: 300ms;
    margin: 0 0 .5rem 0;
}

#title a:hover {
    opacity: .9;
}

#recipes {
    margin: 2.5rem 0;
}

.recipes-content {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
}

#recipes h3 {
    font-size: 1.5rem;
}

.recipes-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card {
    max-width: none;
    display: flex;
    align-items: center;
}

.card-header img {
    max-width: 172px;
    height: 80px;
    border-radius: .9rem;
    cursor: pointer;
}

.card-body {
    margin: 0 1rem;
}

.card-body h5 {
    font-size: 1.125rem;
    color: var(--dark-gray-3);
}

.card-body p {
    color: var(--dark-gray-5);
    margin: .3rem 0;
}

.card-body a {
    text-decoration: none;
    display: block;
    font-size: .925rem;
    color: #d54f44;
    margin: .5rem 0 0 0;
}

.card-body a:hover {
    text-decoration: underline;
}

@media(max-width: 800px) {
    :root {
        font-size: 75%;
    }

    nav {
        width: 100% !important;
    }

    nav ul {
        margin-left: auto;
    }

    nav .container {
        width: 85%;
    }

    .card {
        max-width: 300px;
        width: 100%;
    }

    .card-header img {
        width: auto;
    }

    .card-header {
        max-width: 190px;
    }

    .recipes-content {
        gap: 1.8rem;
    }
}

@media(max-width: 500px) {
    .card {
        flex-direction: column;
    }

    .card-body {
        margin: 1rem 0 1rem 0;
    }
}