<header>
    <nav>
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="/assets/logo-admin.png" alt="Logo">
                </a>
            </div>
            <ul>
                <li><a href="/admin/recipes" class="active">RECEITAS</a></li>
                <li><a href="/admin/chefs">CHEFS</a></li>
            </ul>
        </div>
    </nav>
</header>