<% data.forEach(data => { %>
    <div class="modal-overlay">
        <div class="modal">
            <img src="<%= data.image %>" alt="Recipe image!">
    
            <div class="modal-body">
                <h1><%= data.title %></h1>
                <p>por <%= data.author %></p>
            </div>
    
            <button type="button" class="btn-close" onclick="Modal.close()">Fechar modal</button>
        </div>
    </div>
<% }); %> 