<div class="modal-overlay">
    <div class="modal">
        <img src="/assets/burger.png" alt="Recipe image!">

        <div class="modal-body">
            <h1>Triplo bacon burguer</h1>
            <p>por Jorge Relato</p>
        </div>

        <button type="button" class="btn-close" onclick="Modal.close()">Fechar modal</button>
    </div>
</div>