<div class="modal-overlay">
    <div class="modal">
        <div class="card-header">
            <img src="/assets/burger.png" alt="">
        </div>
        <div class="card-body">
            <h1>Triplo bacon burguer</h1>
            <p>por Jorge Relato</p>
        </div>
        <a href="/recipes/<%= %>" class="btn-redirect">Ver mais</a>
        <button type="button" class="btn-close" onclick="Modal.close()">Fechar modal</button>
    </div>
</div>