<header>
    <nav>
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="/assets/logo.png" alt="Logo">
                </a>
            </div>
            <ul>
                <li><a href="/about" class="active">Sobre</a></li>
                <li><a href="/recipes">Receitas</a></li>
            </ul>
        </div>
    </nav>
</header>