.modal-overlay {
    width: 100vw;
    height: 100vh;
    background-color: var(--modalOverlayColor);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal-overlay.activeModal {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: var(--modalColor);
    text-align: center;
    padding: 2rem;
    position: relative;
    z-index: 1;
    border-radius: .5rem;
    max-width: 660px;
}

.modal img {
    max-width: 500px;
    border-radius: .5rem;
}

.modal-body {
    margin: 1rem 0;
}

.modal-body h1 {
    font-size: 1.5rem;
    margin: .625rem 0;
}

.modal-body p {
    font-size: 1.125rem;
    color: var(--dark-gray-5);
}

.modal button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    margin: 1.5rem 0 0 0;
    cursor: pointer;
    color: var(--light-gray-3);
}